**/node_modules
**/dist
**/build
**/.turbo
**/.next
**/coverage
**/.cache
**/.vite
**/.eslintcache
**/.env
**/.env.*
!**/.env.example
**/*.log
**/.DS_Store

.git
.gitignore
.github
.husky
.vscode
.idea
.editorconfig
.prettierrc.json
.prettierignore
.eslintrc.cjs
.eslintrc.js

docs
*.md
!apps/**/README.md
!packages/**/README.md

.husky
.claude
.aider*
.opencode

**/playwright-report
**/test-results
**/cypress/videos
**/cypress/screenshots

pnpm-lock.yaml
